@model EcommerceApp.Application.ViewModels.Order.OrderCheckoutVM
@{
ViewData["Title"] = "Checkout";
}
<span style="float:left">
    <form asp-action="Checkout" method="POST">
        <h3>Delivery Address</h3>
        <div class="form-group">
            <label asp-for="@Model.Email"></label>
            <p><input asp-for="@Model.Email" class="form-control" /></p>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.FirstName"></label>
            <p><input asp-for="@Model.FirstName" class="form-control" /></p>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.LastName"></label>
            <p><input asp-for="@Model.LastName" class="form-control" /></p>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.City"></label>
            <p><input asp-for="@Model.City" class="form-control" /></p>
            <span asp-validation-for="@Model.City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PostalCode"></label>
            <p><input asp-for="@Model.PostalCode" class="form-control" /></p>
            <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Address"></label>
            <p><input asp-for="@Model.Address" class="form-control" /></p>
            <span asp-validation-for="@Model.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PhoneNumber"></label>
            <p><input asp-for="@Model.PhoneNumber" class="form-control" /></p>
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="@Model.CartId" type="hidden"/>
            <input asp-for="@Model.TotalPrice" type="hidden"/>
            <input asp-for="@Model.CustomerId" type="hidden"/>
            @for(int i=0;i < Model.CartItems.Count;i++)
            {
                <input asp-for="@Model.CartItems[i].ProductId" type="hidden"/>
                <input asp-for="@Model.CartItems[i].Quantity" type="hidden"/>
            }
        </div>
        <button class="btn btn-primary" type="submit">Confirm & Order</button>
    </form>
</span>
<span style="float:right">
    <center>
        <h3>Order details</h3>
    </center>
    <table class="table-striped table-sm text-center table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@item.ImageUrl" width="96" height="96" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCartItemPrice)
                </td>
            </tr>
            }
            <td class="text-right"><strong>Total price:@Html.DisplayFor(x => Model.TotalPrice)</strong></td>
        </tbody>
    </table>
</span>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}