@model EcommerceApp.Application.ViewModels.Order.CustomerOrderDetailsVM
@{
    ViewData["Title"] = "Order details";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-8 text-center my-4">
        <h4 class="text-center">Order items</h4>
        <div class="table-responsive rounded">
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Product Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td class="align-middle">@Html.DisplayFor(x => item.ProductId)</td>
                            <td class="align-middle"><img src="@item.ImageToDisplay" width="128" height="128" /></td>
                            <td class="align-middle">@Html.DisplayFor(x => item.ProductName)</td>
                            <td class="align-middle">@Html.DisplayFor(x => item.Quantity)</td>
                            <td class="align-middle">@Html.DisplayFor(x => item.UnitPrice)</td>
                            <td class="align-middle">@Html.DisplayFor(x => item.TotalPrice)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col text-center my-5">
        <div class="card rounded text-center">
            <div class="card-header bg-dark text-white">
                <h3>Delivery details</h3>
            </div>
            <div class="card-body bg-light text-center">
                <dl class="dl-horizontal">
                    <dt><label asp-for="@Model.Id"></label></dt>
                    <dd>@Model.Id</dd>
                    <dt><label asp-for="@Model.OrderDate"></label></dt>
                    <dd>@Html.DisplayFor(x => Model.OrderDate)</dd>
                    <dt><label asp-for="@Model.Price"></label></dt>
                    <dd>@Html.DisplayFor(x => Model.Price)</dd>
                    <dt><label asp-for="@Model.ShipFirstName"></label></dt>
                    <dd>@Model.ShipFirstName</dd>
                    <dt><label asp-for="@Model.ShipContactEmail"></label></dt>
                    <dd>@Model.ShipContactEmail</dd>
                    <dt><label asp-for="@Model.ShipContactPhone"></label></dt>
                    <dd>@Model.ShipContactPhone</dd>
                    <dt><label asp-for="@Model.ShipCity"></label></dt>
                    <dd>@Model.ShipCity</dd>
                    <dt><label asp-for="@Model.ShipPostalCode"></label></dt>
                    <dd>@Model.ShipPostalCode</dd>
                    <dt><label asp-for="@Model.ShipAddress"></label></dt>
                    <dd>@Model.ShipAddress</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
