@model EcommerceApp.Application.ViewModels.EmployeeVM
@{
ViewData["Title"] = "AddEmployee";
}
<center>
  <h2>Edit employee details</h2>
</center>
<hr />
<span style="float:left">
  <div>
    <h4>Current data</h4>
    <dl class="dl-horizontal">
      <dt>First Name:</dt>
      <dd>@Model.FirstName</dd>
      <dt>Last Name:</dt>
      <dd>@Model.LastName</dd>
      <dt>Position:</dt>
      <dd>@Model.Position</dd>
    </dl>
  </div>
</span>
<span style="float:center">
  <center>
    <p>Fill in the fields and create a new employee</p>
    <div class="col-md-4">
      <table>
        <form asp-action="EditEmployee">
          <div class="form-group">
            <label asp-for="@Model.FirstName">First Name: </label>
            <input asp-for="@Model.FirstName" />
          </div>
          <div class="form-group">
            <label asp-for="@Model.LastName">Last Name: </label>
            <input asp-for="@Model.LastName" />
          </div>
          <div class="form-group">
            <label asp-for="@Model.Position">Position: </label>
            <input asp-for="@Model.Position" />
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </table>
    </div>
  </center>
</span>