@model EcommerceApp.Application.ViewModels.EmployeePanel.CategoryVM
@{
ViewData["Title"] = "Add Category";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <p>Fill in the fields and create a new category</p>
    <div class="col-md-6">
        <form asp-action="AddCategory">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" />
                <p></p>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <input asp-for="@Model.Description" />
                <p></p>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Picture"></label>
                <input asp-for="@Model.Picture" />
                <p></p>
                <span asp-validation-for="@Model.Picture" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
</center>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}