@model EcommerceApp.Application.ViewModels.EmployeePanel.ListCategoryForListVM
@using EcommerceApp.Application.Interfaces
@inject ISearchSelectList searchSelectList
@{
    ViewData["Title"] = "Category management";
}
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <p><a class="btn btn-success" asp-controller="EmployeePanel" asp-action="AddCategory">Add Category</a></p>
        <p><Form method="get" asp-action="Categories">
            <select asp-items="searchSelectList.CategorySelectList" name="SelectedValue"></select>
            <input text="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </Form></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>


                        <a class="btn btn-primary" asp-controller="EmployeePanel" asp-action="EditCategory"
                            asp-route-id="@item.Id">Edit</a>

                        <a class="btn btn-danger" asp-controller="EmployeePanel" asp-action="DeleteCategory"
                            asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>