@model EcommerceApp.Application.ViewModels.EmployeePanel.CategoryVM
@{
    ViewData["Title"] = "Edit Category Details";
}
<div class="row">
    <div class="col text-center">
        <div class="card rounded text-center">
            <div class="card-header bg-dark text-white">
                <h2>Current data</h2>
            </div>
            <div class="card-body bg-light text-center">
                <dl class="dl-horizontal">
                    <dt><label asp-for="@Model.Name"></label></dt>
                    <dd>@Model.Name</dd>
                    <dt><label asp-for="@Model.Description"></label></dt>
                    <dd>@Model.Description</dd>
                    <dt><label asp-for="@Model.ImageUrl"></label></dt>
                    @if (Model.ImageUrl == "No photo available")
                    {
                        <dd>@Model.ImageUrl</dd>
                    }
                    else
                    {
                        <dd><img src="@Model.ImageUrl" width="224" height="224" /></dd>
                    }
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-8 text-center">
        <div class="card rounded">
            <div class="card-header bg-dark text-white">
                <center>
                    <h2>@ViewData["Title"]</h2>
                </center>
                <p>Fill in the fields and edit category details</p>
            </div>
            <div class="card-body bg-light">
                <form asp-action="EditCategory" enctype="multipart/form-data">
                    <partial name="_CategoryFormPartial" />
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}