@model EcommerceApp.Application.ViewModels.EmployeePanel.CategoryVM
@{
ViewData["Title"] = "Edit Category Details";
}
<center>
    <h2>@ViewData["Title"]</h2>
</center>
<hr />
<span style="float:left">
    <div>
        <h4>Current data</h4>
        <dl class="dl-horizontal">
            <dt><label asp-for="@Model.Name"></label></dt>
            <dd>@Model.Name</dd>
            <dt><label asp-for="@Model.Description"></label></dt>
            <dd>@Model.Description</dd>
            <dt><label asp-for="@Model.ImageUrl"></label></dt>
            @if(Model.ImageUrl == "No photo available")
            {
            <dd>@Model.ImageUrl</dd>
            }
            else
            {
            <dd><img src="@Model.ImageUrl" width="256" height="256" /></dd>
            }
        </dl>
    </div>
</span>
<center>
    <span style="float:center">
        <div class="col-md-6">
            <p style="margin-right 25px;">Fill in the fields and edit category details</p>
            <form asp-action="EditCategory" enctype="multipart/form-data">
                <partial name="_CategoryFormPartial" />
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
    </span>
</center>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}