@model EcommerceApp.Application.ViewModels.EmployeePanel.CategoryVM
@{
ViewData["Title"] = "Edit Category Details";
}
<center>
    <h2>@ViewData["Title"]</h2>
</center>
<hr />
<span style="float:left">
    <div>
        <h4>Current data</h4>
        <dl class="dl-horizontal">
            <dt>@Model.Name:</dt>
            <dd>@Model.Name</dd>
            <dt>@Model.Description:</dt>
            <dd>@Model.Description</dd>
            <dt>@Model.ImageUrl:</dt>
            @if(Model.ImageUrl == "No photo available")
            {
                <dd>@Model.ImageUrl</dd>
            }
            else
            {
                <dd><img src="@Model.ImageUrl" width="256" height="256" /></dd>
            }
        </dl>
    </div>
</span>
<center>
    <span style="float:center">
        <div class="col-md-6">
            <p style="margin-right 25px;">Fill in the fields and edit category details</p>
            <form asp-action="EditCategory" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.Name"></label>
                    <p><input asp-for="@Model.Name" /></p>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <p><input asp-for="@Model.Description" /></p>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ImageFormFile" class="ml-2"></label>
                    <p><input asp-for="@Model.ImageFormFile class=" form-control" type="file" /></p>
                    <span asp-validation-for="@Model.ImageFormFile" class="text-danger"></span>
                    <p>Max file size: 200KB, Allowed formats: .jpeg, .jpg, .png</p>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
    </span>
</center>
@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}