@model EcommerceApp.Application.ViewModels.EmployeePanel.ProductVM
@{
ViewData["Title"] = "Edit Product Details";
}
<center>
    <h2>@ViewData["Title"]</h2>
</center>
<hr />
<span style="float:left">
    <div>
        <h4>Current data</h4>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd>@Model.Name</dd>
            <dt>Description:</dt>
            <dd>@Model.Description</dd>
            <dt>Unit Price:</dt>
            <dd>@Model.UnitPrice</dd>
            <dt>Units in Stock:</dt>
            <dd>@Model.UnitsInStock</dd>
            <dt>Category Name:</dt>
            <dd>@Model.CategoryName</dd>
            <dt>Picture:</dt>
            <dd>@Model.Picture</dd>
        </dl>
    </div>
</span>
<span style="float:center">
    <center>
        <p>Fill in the fields and edit product details</p>
        <div class="col-md-6">
            <form asp-action="EditCategory">
                <div class="form-group">
                    <label asp-for="@Model.Name"></label>
                    <p><input asp-for="@Model.Name" /></p>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <p><input asp-for="@Model.Description" /></p>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.UnitPrice"></label>
                    <p><input asp-for="@Model.UnitPrice" /></p>
                    <span asp-validation-for="@Model.UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.UnitsInStock"></label>
                    <p><input asp-for="@Model.UnitsInStock" /></p>
                    <span asp-validation-for="@Model.UnitsInStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.CategoryName"></label>
                    <p><input asp-for="@Model.CategoryName" /></p>
                    <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Picture"></label>
                    <p><input asp-for="@Model.Picture" /></p>
                    <span asp-validation-for="@Model.Picture" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
    </center>
</span>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}