@model EcommerceApp.Application.ViewModels.EmployeePanel.OrderDetailsVM
@{
    ViewData["Title"] = "Order details";
}
<span style="float:right">
    <div clas="card">
        <div class="card-header bg-dark text-white">
            <h2 class="text-center">Order items</h2>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.ProductId)</td>
                        <td>@Html.DisplayFor(x => item.ProductName)</td>
                        <td>@Html.DisplayFor(x => item.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</span>
<div>
    <span style="float:center">
        <div class="col-md-6">
            <div class="card rounded text-center">
                <div class="card-header bg-dark text-white">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="card-body bg-light text-center">
                    <dl class="dl-horizontal">
                        <dt><label asp-for="@Model.Id"></label></dt>
                        <dd>@Model.Id</dd>
                        <dt><label asp-for="@Model.OrderDate"></label></dt>
                        <dd>@Html.DisplayFor(x => Model.OrderDate)</dd>
                        <dt><label asp-for="@Model.CustomerId"></label></dt>
                        <dd>@Model.CustomerId</dd>
                        <dt><label asp-for="@Model.Price"></label></dt>
                        <dd>@Html.DisplayFor(x => Model.Price)</dd>
                        <dt><label asp-for="@Model.ShipFirstName"></label></dt>
                        <dd>@Model.ShipFirstName</dd>
                        <dt><label asp-for="@Model.ShipContactEmail"></label></dt>
                        <dd>@Model.ShipContactEmail</dd>
                        <dt><label asp-for="@Model.ShipContactPhone"></label></dt>
                        <dd>@Model.ShipContactPhone</dd>
                        <dt><label asp-for="@Model.ShipCity"></label></dt>
                        <dd>@Model.ShipCity</dd>
                        <dt><label asp-for="@Model.ShipPostalCode"></label></dt>
                        <dd>@Model.ShipPostalCode</dd>
                        <dt><label asp-for="@Model.ShipAddress"></label></dt>
                        <dd>@Model.ShipAddress</dd>
                    </dl>
                </div>
            </div>
    </span>
</div>
